       
       
       /*<!-----header--->*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    
}
html{
    scroll-behavior: smooth;
}


header{
    width: 100%;
   /* background: pink;*/
   position: fixed;
   background-color: #fff;
   z-index: 5;
}

.navbar{
    max-width:1300px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto ;
}



.nav-left , .nav-menu , .nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

 
a{
text-decoration: none;
    color: rgb(88, 5, 22);
}

.nav-left .nav-logo .logo{
    font-size: 1.5rem ;
    margin-right: 20px;
    font-weight: 800;
}

.nav-left .nav-menu{
    list-style: none;
}
.nav-left .nav-menu li a{
    padding: 8px 12px;
    font-size: 1rem;
}

.nav-left .nav-menu li a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 600;
    transition: 0.1s;
}

.nav-right p{
    font-size: 1rem;

}

.nav-right .btn , .submit {
    background-color:darkred ;
    color: white;
    padding: 8px 22px ;
    border-radius:30px ;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.2s linear;
}

.nav-right .btn:hover, .submit:hover{
    background-color: transparent;
    color: darkred;
    border: 1px solid darkred;
}


           /*<!---hero-section---->*/
 
.hero-section{
     min-height: 100vh;
     background: #fff8e1;
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 30px;
    padding-top: 90px;
}

.section-content{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;

}


.hero-section .section-content .hero-details h1{
    font-size: 3rem;
    max-width: 70%;
    margin-bottom: 20px;
}
.hero-section .section-content .hero-details p{
    font-size: 1.2rem;
    max-width: 70%;
    margin-bottom: 20px;
}
.hero-section .section-content .hero-details .order-now{
    padding: 10px 20px;
    border: 2px solid #5e1f12;
    background: transparent;
    color: #5e1f12;
    cursor: pointer;
}
    
.hero-section .section-content .hero-details .order-now:hover{
    padding: 10px 20px;
    border: 2px solid transparent;
    background: #5e1f12;
    color: #ede9e8;
    cursor: pointer;
    transition: 0.3s;
}

.hero-image img{
     width: 500px;
    height: 350px;
}
    

          /* ----about us ---*/

.about-us{
      width: 100%;
      background-color: #fff;
      padding: 50px 30px ;
}

.about-us .section-content{
    display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 50px;
}

.about-us .section-content .about-image img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
    
}

.about-us .about-details{
    max-width: 50%;
}

.section-title{
    color: #5e1f12;
    text-align: center;
    padding: 30px ;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

}

.section-title::after{
    content:'' ;
    display: block;
    background: #5e1f12;
    height: 5px;
    width: 100px;
    border-radius: 30px;
    margin: 10px auto 0px;
     
}

.about-details p{
    font-size: 1.1rem;
    line-height: 30px ;
    text-align: center;
    margin: 50px 0 30px;
}


/*----menu section---- */


.menu-section{
    background-color: #5e1f12;
    color: #fff;
    padding: 50px 0 100px ;
}

.white-title{
    color: #fff;
}

.menu-section .menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.menu-section .menu-list .menu-item{
   width: 30%;
  
   text-align: center;
   height: 400px;
  
}

.menu-section .menu-list .menu-item img{
   width: 100%;
   height: 90%;
   object-fit: cover;
   border-radius: 8px;
   margin-bottom: 20px;
   margin-top: 10px;

}




      /*----theme section----*/


.theme-section{
    background-color: #fff;
}


.theme-section .menu-list{
    gap: 10px;

}
.theme-section .menu-list .menu-item img{
    cursor: zoom-in;
    transform: 5s linear;
    border-radius: 8px;
    height: 100%;

}
.theme-section .menu-list .menu-item img:hover{
    cursor: zoom-in;
    transform: scale(1.1);
}

.theme-section .menu-list .menu-item{
    overflow: hidden;
    border-radius: 8px;
    height:300px ;
}


         /*-----contact us ----*/


.contact-us{
    background-color: rgb(242, 215, 181);
   padding-bottom : 100px ; 
}

.contact-us .section-content{
    display: flex;
    max-width: 1300px;
    margin:  0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.contact-form form {
    width: 100%;
}
.contact-form form input , textarea{
   width: 100%;
   height: 50px;
   padding: 20px  10px;
   border: 1px solid #e4e2e2;
   outline: none;
   margin-bottom: 10px;
   border-radius: 10px;
}

textarea{
   height: 100px;
   resize: vertical;
}


.contact-us .contact-details{
 display: flex;
 width: 70%;
 flex-direction: column;

}
.contact-us .contact-details div{
 display: flex;
 align-items: center;
 margin: 20px 0;
 gap: 20px;

}


             /*---footer----*/


.footer{
    background-color: #5e1f12;
    color: #fff;
    height: 70px;
    padding: 20px 30px ;
}

.footer .section-content{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.footer .section-content .footer-links ul{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    gap: 40px;
}
